<div class="head-contain">
  <div class="head-text">
    <h1 class="headtitle">{{ filmdetails.originalTitleText.text }}</h1>
    <p style="color:#747474;">Adventure, Fantasy | {{ filmdetails.releaseYear.year }} | 136 min.</p>
    <p>When a tornado hits through City of Peaceville, Samatha(Jenny Loifer) and her dog, Ricko, are whisked away in thier house to an amazing journey.</p>

    <p>Director: Tood Burns</p>
    <p>Cast: Jenny Loifer, Sarah Obrien, Larry moss Jr.</p>
    <button class="headbtn">Watch Now</button>
  </div>
  <div class="head-bg">
    <img class="phonelogo" src="assets/img/Logo.JPG" />
    <img class="bghead" src="{{ filmdetails.primaryImage.url }}" />
  </div>
</div>
