.footerdiv {
  display: flex;
  padding-left: 110px;
  background-color: black;
}

.footertitle {
  font-size: 39px;
}

.footertext {
  width: 60%;
  color: white;
}

.footerimg {
  margin-left: 220px;
  width: auto;
  height: auto;
  overflow: hidden;
}

.footerimg img {
    width: 100%;
    height: 100%;
  }

p {
  color: #C1C1C1;
}

.footerbtn {
  border: 1px solid #fff;
  border-radius: 50px;
  background: none;
  padding: 3px 30px;
  font-size: 15px;
  margin: 20px 20px;
  color: #fff;
  width: auto;
  height: auto;
}

.footerbtn:hover {
    color: red;
    border: 1px solid red;
  }

input {
  border: none;
  width:auto;
  height: auto;
  border-bottom: 1px solid white;
  background: none;
  color: white;
}

.footernav{
    display:none;
}
@media(min-width:863px) and (max-width:1080px) {
  .footertitle {
    font-size: 30px;
  }
  .footerimg {
    margin-left: 0;
  }
  .footertext {
    font-size: 13px;
    width: 60%;
    color: white;
  }
  .footerbtn {
    padding: 3px 10px;
    font-size: 13px;
    width: 70px;
  }
  input {
    width: auto;
  }
  .footernav {
    display: none;
  }
}
@media(min-width:724px) and (max-width:862px){
  .footertitle {
    font-size: 25px;
  }

  .footertext {
    font-size: 13px;
    width: 100%;
    color: white;
  }
  .footerbtn {
    font-size: 12px;
  }
  .footerimg {
    margin-left: 0;
  }
  input {
    border: none;
    height: auto;
    width: auto;
    border-bottom: 1px solid white;
    font-size: 12px;
  }
  .footernav {
    display: none;
  }
}
@media(min-width:675px) and (max-width:723px) {
  .footerdiv {
    padding-left: 0;
    padding-bottom:50px;
  }
  .footerimg {
    margin-left: 0;
  }
  .footertitle {
    font-size: 25px;
  }

  .footertext {
    font-size: 13px;
    width: 100%;
    color: white;
    padding-left: 25px;
  }

  .footerbtn {
    font-size: 12px;
  }

  input {
    border: none;
    height: auto;
    width: auto;
    border-bottom: 1px solid white;
    font-size: 12px;
  }

  .footernav {
    display: flex;
    bottom: 0;
    position: fixed;
    color: white;
    width: 100%;
    height: 50px;
    background-color: #131313;
    justify-content: center;
  }

  ul {
    text-decoration: none;
    display: flex;
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding-inline: 50px;
  }

  .footerdiv {
    width: 100%;
  }
}
@media(min-width:546px) and (max-width:674px) {
  .footerdiv {
    padding: 0 0  50px 0;
  }
  .footerimg {
    margin-left: 0;
  }
  .footertitle {
    font-size: 25px;
  }

  .footertext {
    font-size: 13px;
    width: 100%;
    color: white;
    padding-left: 25px;
  }

  .footerbtn {
    font-size: 12px;
  }

  input {
    border: none;
    height: auto;
    width: auto;
    border-bottom: 1px solid white;
    font-size: 12px;
  }

  .footernav {
    display: flex;
    bottom: 0;
    position: fixed;
    color: white;
    width: 100%;
    height: 50px;
    margin-top: 100%;
    background-color: #131313;
    justify-content: center;
  }

  ul {
    text-decoration: none;
    display: flex;
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding-inline: 50px;
  }

  .footerdiv {
    width: 100%;
  }
}
@media(min-width:467px) and (max-width:545px) {
  .footerdiv {
    padding: 0 0 50px 0;
  }

  .footertitle {
    font-size: 20px;
  }

  .footertext {
    font-size: 8px;
    width: 100%;
    color: white;
    padding-left: 25px;
  }

  .footerbtn {
    font-size: 12px;
  }

  input {
    border: none;
    height: auto;
    width: auto;
    border-bottom: 1px solid white;
    font-size: 12px;
  }

  .footernav {
    display: flex;
    bottom: 0;
    position: fixed;
    color: white;
    width: 100%;
    height: 50px;
    margin-top: 100%;
    background-color: #131313;
    justify-content: center;
  }

  ul {
    text-decoration: none;
    display: flex;
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: none;
  }
  .footerimg {
    margin-left: 0;
  }

  li {
    padding-inline: 30px;
  }

  .footerdiv {
    width: 100%;
  }
}
@media(min-width:401px) and (max-width:466px) {
  .footerdiv {
    padding: 0 0 50px 0;
  }

  .footertitle {
    font-size: 20px;
  }

  .footertext {
    font-size: 8px;
    width: 100%;
    color: white;
    padding-left: 25px;
  }
  .footerimg{
      margin-left:0;
  }
  .footerbtn {
    font-size: 12px;
  }

  input {
    border: none;
    height: auto;
    width: auto;
    border-bottom: 1px solid white;
    font-size: 12px;
  }

  .footernav {
    display: flex;
    bottom: 0;
    position: fixed;
    color: white;
    width: 100%;
    height: 50px;
    margin-top: 100%;
    background-color: #131313;
    justify-content: center;
  }

  ul {
    text-decoration: none;
    display: flex;
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding-inline: 30px;
  }
}
@media(min-width:376px) and (max-width:400px) {
  .footerdiv {
    padding: 0 0 50px 0;
  }

  .footertitle {
    font-size: 13px;
  }

  .footertext {
    font-size: 6px;
    width: 100%;
    color: white;
    padding-left: 25px;
  }

  .footerimg {
    margin-left: 0;
  }

  .footerbtn {
    font-size: 6px;
    padding: 3px 10px;
  }

  input {
    border: none;
    height: auto;
    width: auto;
    border-bottom: 1px solid white;
    font-size: 6px;
  }

  .footernav {
    display: flex;
    bottom: 0;
    position: fixed;
    color: white;
    width: 100%;
    height: 50px;
    margin-top: 100%;
    background-color: #131313;
    justify-content: center;
  }

  ul {
    text-decoration: none;
    display: flex;
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding-inline: 15px;
  }
}
@media(max-width:375px){
  .footerdiv {
    padding: 0 0 50px 0;
  }

  .footertitle {
    font-size: 13px;
  }

  .footertext {
    font-size: 6px;
    width: 100%;
    height: 100%;
    color: white;
    padding-left: 25px;
    background-image: url('/../assets/img/footer.jpg');
    background-repeat: no-repeat;
  }

  .footerimg {
    display:none;
  }

  .footerbtn {
    font-size: 6px;
    padding: 3px 10px;
  }

  input {
    border: none;
    height: auto;
    width: auto;
    border-bottom: 1px solid white;
    font-size: 6px;
  }

  .footernav {
    display: flex;
    bottom: 0;
    position: fixed;
    color: white;
    width: 100%;
    height: 50px;
    margin-top: 100%;
    background-color: #131313;
    justify-content: center;
  }

  ul {
    text-decoration: none;
    display: flex;
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding-inline: 10px;
  }
}
