.indi {
  margin-top: 23px;
  width: 40px;
}

.navcontain {
  height: 100%;
  padding-top: 20px;
  text-decoration: none;
}

.sidenav {
  position: fixed;
  width: 50px;
  height: 100%;
  background: #131313;
  color: white;
  padding: 16px;
  text-align: center;
  z-index: 99;
}

ul {
  color: #131313;
  display:contents;
}

mat-icon {
  color: white;
  font-size: 20px;
}
@media(max-width:723px) {
  .sidenav {
    display: none;
  }
}

.sidenav > img {
  cursor: pointer
}